@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }
  body {
    @apply bg-white text-neutral-950 antialiased;
    font-family: 'Inter', sans-serif;
  }
}
